:root {
    --lightblue: #00acee;
    --darkblue: #012935;
    --blue: #0192cb;
    --midblue: #006987;
    --orange: #ff690b;
    --gray: #656565;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Header */
.site-header {
    background: var(--lightblue);
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em;
}

.nav-toggle {
    display: none;
}

/* Nav menu */
.header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--lightblue);
    width: 100%;
    height: 200px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.header-nav__list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-nav__link {
    display: block;
    padding: 5px;
    color: white;
}

.header-nav__item:hover {
    background-color: var(--orange);
}

/* Burger Icon */
.nav-toggle-label {
    cursor: pointer;
    float: left;
    padding: 20px 10px;
}

.nav-toggle-line {
    background: white;
    display: block;
    height: 5px;
    position: relative;
    width: 26px;
    border-radius: 1px;
}

.nav-toggle-line::before,
.nav-toggle-line::after {
    display: block;
    background: white;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 1px;
    position: absolute;
    transition: all .2s ease-out;
}

.nav-toggle-line::before {
    top: 7px;
}

.nav-toggle-line::after {
    top: -7px;
}

.nav-toggle {
    display: none;
}

/* Toggle menu icon */
.nav-toggle:checked~.header-nav {
    transform: scale(1, 1);
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-toggle__menu {
    color: white;
    font-size: 20px;
}

.nav-toggle:checked~.nav-toggle-label .nav-toggle-line {
    background: transparent;
}

.nav-toggle:checked~.nav-toggle-label .nav-toggle-line {
    background: transparent;
}

.nav-toggle:checked~.nav-toggle-label .nav-toggle-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.nav-toggle:checked~.nav-toggle-label .nav-toggle-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* User container */
.user__account {
    display: none;
}

.user-list {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user__cart {
    color: white;
    display: flex;
    gap: .50em;
}

.view-cart {
    color: white;
}

.cart__count {
    color: white;
    background-color: var(--blue);
    padding: .5em 1em .5em 1em;
    border-radius: 25px;
    margin: 5px;
}

/* slide  */
.slider-container {
    display: none;
}

/* Logo */
.logo-search__container {
    background: white;
    width: 100%;
    padding-top: 1em;
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-logo {
    min-width: 1.5em;
    max-width: 20em;
    padding-bottom: 1em;
}

/* Search */
#search-products {
    border-radius: 5em;
    border: 0.1em solid #9c9c9c;
    min-width: 5em;
    min-height: 3em;
    padding-left: 2em;
    font-size: 1em;
}

#search-products:focus {
    border: 0.1em solid #ff690b;
    outline: none;
}

.search-icon {
    background: #022a36;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* Product category nav */
.category-nav {
    background: #012935;
    margin: 10px auto;
    padding: 10px;
}

.category-nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

.category-nav__item {
    border: 1px solid #00acee;
    border-radius: 5px;
    padding: 10px;
}

.category-nav__link {
    color: white;
}

.category-nav__item:hover {
    background-color: #00acee;
}

.category-nav__link::after {
    /* content: "❯";  */
    content: "\276F";
    display: inline-block;
    margin: 0 0.5em 0 0.3em;
    font-size: 1em;
    vertical-align: middle;
    float: right;
    color: var(--lightblue);
}

/* Featured products */
.main-heading {
    color: white;
    font-weight: 100;
    background: #ff690b;
    margin-top: 1em;
    margin-left: 0.5em;
    padding: 10px 0px 10px 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.featured-products__wrapper {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.product-item {
    height: 19em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    color: #656565;
    text-align: center;
}

.product-item__info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    align-items: center;
}

.football-boots {
    padding-top: 2em;
    padding-bottom: 1em;
}

.product-item__price {
    font-size: 20px;
}

.promo-price {
    color: var(--orange);
}

.old-price {
    text-decoration: line-through;
}

.product-item__description {
    color: var(--midblue);
}

/* Brands and partnerships */
.partnerships p {
    color: var(--gray);
    font-size: 1em;
    text-align: left;
    padding-top: 1em;
    padding-left: 1em;
    text-decoration: none;
}

.partnership__links {
    text-decoration: none;
    padding-left: 1em;
    color: var(--lightblue);
}

.partnership__links:hover {
    color: var(--orange);
}

/* Brands */
.brand-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background: #012935;
    padding: 1em;
    gap: 1em;
    margin: 20px auto;
}

/* footer content */
.footer-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.footer-info__heading {
    color: white;
    margin: 10px;
}

.footer-info__item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 4px;
}

.footer-info__link {
    color: white;
}

.footer-info__bullet {
    display: inline-block;
    background: #006987;
    height: 8px;
    width: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 10px;
}

/* footer site navigation */
.footer-info__nav {
    background: #00acee;
    height: 200px;
    padding-left: 10px;
}

/* footer product categories */
.footer-info__categories {
    background: var(--orange);
    display: none;
}

/* footer contact and social media */
.footer-info__social {
    background: var(--lightblue);
    height: 200px;
    padding-left: 10px;
}

.social-icon__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
    text-align: center;
}

.footer-info__social .social-icon__link {
    display: flex;
    height: 80px;
    width: 80px;
    padding: 20px;
    border: 1px solid white;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-info__social .social-icon__link:hover {
    color: #242626;
    background-color: var(--orange);
}

.social-media {
    padding-top: 20px;
    color: white;
}

#facebook {
    padding-left: .5em;
}

/* footer copyright */
.footer-copyright {
    height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    gap: 2px;
    color: var(--gray)
}


/* Responsiveness */
@media screen and (min-width: 500px) {

    /* layout */
    body {
        /* display: flex; */
        position: relative;
        padding-bottom: 25rem;
        min-height: 100vh;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 20px;

    }

    .site-content {
        width: 80vw;
        margin: 0 auto;
    }

    .main-heading {
        margin: 0;
        margin-top: 30px;
    }

     /* top navigation */
     .nav-toggle-label {
        display: none;
    }

    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
    }

    .header-nav {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .header-nav__list {
        display: flex;
        justify-content: flex-start;
    }

    .header-nav__link {
        opacity: 1;
        position: relative;
        padding-right: 1.5em;
    }

    .header-nav__link::before {
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .header-nav__link:hover::before {
        transform: scale(1, 1);
    }

    /* header icon  */
    header .user-container {
        display: flex;
    }

    .user-list {
        display: flex;
        align-items: center;
        gap: 1.2em;
    }

    .user__account,
    .account-login {
        display: flex;
        color: white;
        gap: .4em;
    }

    .user__cart {
        color: white;
        display: flex;
        flex-direction: row;
        gap: .5em;
    }

    .view-cart {
        color: white;
    }

    .cart__count {
        color: white;
        background-color: var(--blue);
        margin: 0;
        padding: .5em 1em .5em 1em;
        border-radius: 25px;
    }

    /* slider  */
    .slider-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80vw;
        height: auto;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .slider {
        width: 80vw;
        background-image: url(./slide-image/image\ 1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    .banner-text {
        background: #00acee;
        width: 300px;
        height: 300px;
        float: right;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border: 2px solid white;
        padding-top: 100px;
        padding-left: 50px;
        text-align: center;
        right: 50px;
    }

    .view-range, .sports-ball {
        color: white;
        margin-bottom: 1em
    }

    .sports-ball {
        font-size: 2em;
    }

    #shop-now {
        width: 100px;
        height: 35px;
        background-color: #006987;
        border-radius: 10px;
        color: white;
        border: none;
        cursor: pointer;
    }

    /* logo */
    .logo-search__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .site-logo {
        max-width: 60%;
        max-height: 60%;
        padding: 0;
    }

    /* Search */
    #search-products {
        border-radius: 5em;
        border: 0.1em solid #9c9c9c;
        min-width: 1em;
        min-height: 2em;
        padding-left: 1em;
        font-size: 1em;
    }

    /* category nav  */
    .category-nav {
        background: #012935;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 8px;
        /* margin: 10px 10px; */
    }

    .category-nav__list {
        display: flex;
        align-items: center;
        border: none;
        padding-left: 30px;
        overflow: hidden;
    }

    .category-nav__item {
        border: none;
    }

    .category-nav__item:hover {
        background-color: var(--lightblue);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .category-nav__list {
        text-align: center;
    }


    .category-nav__link::after {
        /* content: "❯";  */
        content: "\276F";
        display: none;
    }

    /* featured products */
    .featured-products__wrapper {
        display: flex;
        overflow: hidden;
    }

    .product-item {
        transition: box-shadow .3s;
        width: 300px;
        height: 18rem;
        padding: 1em;
        font-size: smaller;
        padding: 0px;
        margin: 20px 10px 0px 10px;
    }

    .product-item {
        box-shadow: .5px 0.5px 2px 0px lightgray;
        font-size: smaller;
    }

    .product-item:hover {
        box-shadow: .5px 0.5px 4px rgba(242, 124, 45, 0.8)
    }

    .product-item__description {
        padding: 0;
    }

    .football-boots {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .old-price__wrapper {
        display: inline;
        font-size: .75em;
    }

    /* brands and partnerships */
    .brand-logo {
        display: flex;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        overflow: hidden;
        margin-right: 0;
    }

    .brands-partnership__wrapper {
        display: flex;
        justify-content: space-between;

    }

    .partnerships {
        flex-wrap: wrap;
        width: 15em;
        margin-right: 1em;
        margin-top: 1em;
        padding: 1em;
        vertical-align: middle;
    }

    .partnership__links,
    #partnership__content {
        padding: 0;
    }

    .brand-logo {
        display: flex;
        flex-grow: 1;
        gap: 10px;
        margin-left: .2em;
        padding-left: 50px;
    }

    /* footer */
    .footer-info__heading {
        font-size: 20px;
    }

    .footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: 20rem;
    }

    .footer-info__categories {
        display: block;
    }

    .footer-info__nav,
    .footer-info__social {
        height: 100%;
    }

    .footer-info__nav {
        padding-left: 40px;
    }

    .footer-info__social {
        padding-right: 40px;
    }

    .footer-copyright {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 860px) {

        .site-header {
            font-size: .75em;
        }
    }

}